body {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 100px 0;
    height: 552px;
    width: 100%
    font-family: 'Nanum Gothic', sans-serif;
}

.wrapper {
    width: 33%;
    height: 90%;
    border-radius: 7px;
    box-shadow: 5px 0 5px 0 rgb(213, 204, 204);
    padding: 20px 20px 20px 40px;
 
}

h2 {
 font-size: 18px;
}

input {
    border-color: rgb(213, 204, 204);
    color:rgb(213, 204, 204);
    border-radius: 5px;
    margin: 4px;
}

button {
    background-color: rgb(71, 9, 170);
    border-radius: 2px;
    color: white;
    border-style: none;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
}
.double {
    position: absolute;
    right: 37px;
    top: 6px;
    height: 25px;
}
span { 
    color:red;
    font-size: 10px;
    display: ;
}

.passwordInput, .passwordErrorInput, .phoneInput, .idInput {
    width: 90%;
    height: 30px;

}
.join {
    margin: 50px 50px 50px 120px;
    width: 125px;
    height: 35px;
}
.email-box>input, select {
    height: 30px;
    width: 100px;
}
.join:disabled{
    background-color: teal;
}

.join:hover{
 background-color: aqua;
}