<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입페이지</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <h1>회원가입</h1>
    <h2>가입을 통해 더 다양한 서비스를 만나보세요!</h2>
    <form id="iputForm">
    <input type="" placeholder="아이디입력(6~20자)" class="idInput">
    <button class="double">중복확인</button>
    <span class="idError">사용할 수 없는 아이디입니다</span>
    <input type="password" class='passwordInput' placeholder="비밀번호입력(문자, 숫자,특수문자 포함8~20자)" >
    <span class="passwordError">20자 이내의 비밀번호를 입력해주세요</span>
    <input type="password" placeholder="비밀번호 재입력" class="passwordErrorInput">
     <span class="wrongpassword">비밀번호가 일치하지 않습니다</span>
    <div class="email-box"> <input type="text" class="emaillInput" placeholder="이메일 주소">@ 
        <select name="emailSelect"> 
        <option value="naver.com">naver.com</option>
        <option value="daum.net">daum.net</option>
        <option value="google.com">google.com</option>
        <option value="yahoo.net">yahoo.net</option>
        <option value="직접입력">직접입력</option>
    </select></div>
   
       
<div>
    <select name="year">
        <option value="년도">년도</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option> 
    </select>

    <select name="month">
        <option value="월">월</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option> 
    </select>

    <select name="day">
        <option value="일">일</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option> 
    </select>

</div>
    
    <input type="tel"
    maxlength="13" class="phoneInput" placeholder="휴대폰번호입력('-'제외11자리 입력)">
</form>

<button class="join">가입하기</button>
</div>

    <script src="../static/main.js"></script>
</body>
</html>


